{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier"],
  "rules":
    {
      "alpha-value-notation": null,
      "color-function-notation": null,
      "declaration-block-no-redundant-longhand-properties": null,
      "import-notation": null,
      "no-descending-specificity": null,
      "no-duplicate-selectors": null,
      "selector-no-vendor-prefix": null,
      "selector-not-notation": null,
      "scss/at-extend-no-missing-placeholder": null,
      "scss/at-mixin-argumentless-call-parentheses": null,
      "scss/at-rule-conditional-no-parentheses": null,
      "scss/comment-no-empty": null,
      "scss/dollar-variable-colon-space-after": null,
      "scss/dollar-variable-empty-line-before": null,
      "scss/dollar-variable-pattern": null,
      "scss/double-slash-comment-empty-line-before": null,
      "scss/no-global-function-names": null,
      "scss/operator-no-unspaced": null,

      
      "at-rule-no-unknown": null,
      "color-hex-length": null,
      "no-invalid-position-at-import-rule": null,
      "selector-id-pattern": null,

      "value-keyword-case":
        ["lower", { "ignoreKeywords": ["Arial", "BlinkMacSystemFont", "Roboto"] }]
    }
}
