header.container-fluid {
  background-color: #f1f1f6;
}

// anchors # for deep links within docs
a.header-link {
  opacity: 0;
  pointer-events: none;
}

a.header-link::after {
  content: '#';
  min-width: 20px;
  display: inline-block;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link {
  opacity: 0.5 !important;
  pointer-events: visible;
  transition: 0.3s all;
}

header h1 {
  font-weight: 800 !important;
}

.sticky-offset {
  top: 80px !important;
}

article .h1,
article .h2,
article .h3 {
  margin-top: 3rem;
  font-weight: 600;
}

article table h3,
article h2:first-of-type {
  margin-top: 1px !important;
}

td.anatomy-cell {
  height: 120px;
  padding: 20px 80px 20px 230px;
  vertical-align: middle;
}

// offsets the anchors to adjust for the fixed navbar
article div:target::before,
article h2:target::before,
article h3:target::before {
  display: block;
  content: ' ';
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.docs-callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #f1f1f6;
  border-left-width: 0.25rem !important;
  border-radius: 0.25rem;
}

.docs-callout-danger {
  border-left-color: #c81922;
}

.docs-callout-warning {
  border-left-color: #ffa500 !important;
}

.docs-callout-info {
  border-left-color: #cfe1ee !important;
}

.bd-highlight {
  background-color: rgb(86 61 124 / 15%);
  border: 1px solid rgb(86 61 124 / 15%);
}
