// Utility Classes

.opacity-50 {
  opacity: 0.5;
}

.bg-light {
  background: #f3f3f7 !important;
}

.bg-purple {
  background-color: #7952B3 !important;
}

.filter-desaturate {
  filter: saturate(0%);
}
